body {
  background-color: #1b1b1b;
  color: #e2fdf8;
  font-family: 'Poppins', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
}

p {
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

#info:hover {
  background: #763394;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(142, 112, 155) rgb(91, 61, 104) rgb(91, 61, 104) rgb(142, 112, 155);
  border-radius: 10px;
}

#info-card {
  display: none;
  margin: 5px;
  margin-right: 25px;
}

#info:hover > #info-card {
  display: block;
}

#info-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

#technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#technologies img {
  height: 15vw;
}

.tech-card {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-card:hover .tech-card-front {
  filter: blur(4px);
}

.tech-card-back {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

.tech-card-back:hover {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#current {
  position: relative;
}

#current-position {
  position: relative;
}

#current-position-image {
  width: 100%;
  opacity: 80%;
  transform: scale(1.03);
}

#current-position:hover #current-position-image {
  filter: blur(4px);
  opacity: 0.4;
}

.current-position-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

.current-position-content:hover {
  visibility: visible;
  opacity: 1;
}

.card {
  position: relative;
}

.card-front {
  width: 100%;
  opacity: 80%;
  transform: scale(1.03);
}

.card:hover .card-front {
  filter: blur(4px);
  opacity: 0.4;
}

.card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

.card-content:hover {
  visibility: visible;
  opacity: 1;
}
